* { margin: 0; padding: 0; }
a { text-decoration: none; display: block; color: #212121; }
li { list-style: none; }
img { width: 100%; }

header, section, footer {
    width: 100%;
    float: left;
    box-sizing: border-box;
}

/* 반응형 - breakpoint 480, 768, 1024 이상 */
/* 모바일 */
@media screen and (min-width: 480px) {
    header {
        width: 100vw;
        height: 8vw ;
        position: fixed; /* 고정 위치 */
        top: 0;
        left: 0;
        z-index: 300;
    }

    .header_wrap {
        width: 100%;
        display: flex;
        flex-flow: row nowrap; /* 행 기준 정렬, 줄 바꿈 금지 */
        justify-content: space-between; /* 양쪽 끝으로 이동 */
        position: fixed; /* 고정 위치 */
        top: 0;
        left: 0;
        z-index: 100;
        transition: all 0.5s;
    }

    header.active {
        background-color: #fff;
    }

    header .logo {
        width: 18%;
        margin-top: 0;
        margin-left: 3vw;
    }

    header nav {
        width: 60vw;
        margin-top: 25px;
        display: none; /* pc 버전 내비게이션 안 보임 */
        /* z-index: 102; 서브 보다 앞에 배치 */
    }

    header #navi nav {
        display: block; /* 태블릿, 모바일 버전 내비게이션 보임 */
    }

    header #navi {
        position: absolute;
        z-index: 300; /* 항상 맨 앞 */
        top: 0;
        right: -100vw;
        background-color: #fff;
        box-sizing: border-box; /* padding 써도 가로, 세로 길이가 늘어나지 않게 방지 */
        padding: 2vw;
        width: 100vw;
        height: 100vh;
    }

    /* 태블릿, 모바일 버전 내비게이션 메인 메뉴 */
    header #navi nav {
        width: 100%;
        float: left;
        margin-top: 0;
    }

    header #navi nav ul {
        display: flex;
        flex-flow: column nowrap; /* 열 기준으로 세로 정렬, 줄바꿈 금지 */
    }

    header #navi nav ul li a {
        font-size: 3.5vw;
        padding: 2vw;
        /* text-align: left; 왼쪽으로 정렬하고 싶을 때 */ 
        border-top: 1px solid transparent;
        border-bottom: 1px solid #ccc;
        font-weight: bold;
        color: #212121;
    }

    header #navi nav ul li a.active {
        border-top: 1px solid #eb9494;
        border-bottom: 1px solid #eb9494;
        color: #eb9494;
    }

    /* 태블릿 모바일 버전 내비게이션 서브 메뉴 */
    /* header #navi nav .sub {
        padding: 2vw;
        display: none;
    } */

    /* header #navi nav .sub a {
        border-top: 1px solid transparent;
        font-size: 2vw;
        font-weight: normal;
        margin-left: 2vw;
    } */


    /* 오른쪽 화살표 */
    header #navi .navi_arrow {
        width: 3vw;
        float: right;
        margin-right: 3vw;
    }

    header #navi .navi_arrow a {
        padding: 2vw;
    }

    header #navi .navi_arrow a .fa-arrow-right {
        color: #666;
        font-size: 5vw;
    }

    header .menu_btn {
        display: block; /* 태블릿, 모바일 버전 햄버거 메뉴 보임 */
        width: 8%;
        margin-top: 1.2vw;
        margin-right: 4vw;
    }

    section.s1 {
        height: 100vh; /* 장치의 세로 크키의 100% */
    }

    /* sns */
    header .sns {
        width: 7vw; /* vw: 장치의 가로 크키의 7% (장치 - 컴퓨터 모니터) */
        margin-top: 1.6vw; /* 1.6%% */
        display: none; /* 태블릿 버전 sns 아이콘 안 보이게 */
    }

    header .sns ul {
        display: flex; /* 자식 객체 li 가로로 나열 */
        justify-content: space-between; /* 가로 간격 동일하게 */
    }

    header .sns ul li {
        width: 1.4vw; /* 1.4% */
    }

    header .sns ul li.youtube {
    margin-top: 0.2vw;
    }

    /* s1, 비주얼 슬라이드 (visual slide) */
    .s1 {
        position: relative; /* visual_txt에 position: absolute */
    }

    .s1 .visual {
        width: 100%;
        height: 100vh;
    }

    .s1 .visual .swiper-slide {
        height: 100vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .s1 .visual .v1 {
        background-image: url(../img/9.jpg);
    }

    .s1 .visual .v2 {
        background-image: url(../img/4.jpg);
    }

    .s1 .visual .v3 {
        background-image: url(../img/12.jpg);
    }

    .s1 .visual_txt {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        color: #fff;
        text-align: center;
        z-index: 2;
    }

    .s1 .visual_txt h1 {
        font-size: 7vw;
        text-shadow: 0 0 5px rgb(90, 90, 90);
        white-space: nowrap;
    }

    .s1 .visual_txt p {
        font-weight: bold;
        font-size: 3vw;
        text-shadow: 0 0 5px rgb(90, 90, 90);
        line-height: 9vw;
    }

    .s1 .visual_txt a {
        color: #fff;
        font-size: 2.8vw;
        border-radius: 20px;
        border: 1px solid #fff;
        padding: 1vw 2vw;
        font-weight: bold;
        width: 35vw;
        margin: 0 auto;
        margin-top: 2vw;
        transition: all 0.3s;
    }

    .s1 .visual_txt a:hover {
        background-color: #eaeaea;
        color: #3a3a3a;
    }

    .s1 .visual_txt a span {
        margin-left: 15px;
    }

    /* swiper pagination */
    .swiper-horizontal>.swiper-pagination {
        bottom: 38vh;
    }

    .swiper-horizontal>.swiper-pagination span {
        width: 12px;
        height: 12px;
        background-color: transparent;
        border: 1px solid #ddd;
        opacity: 1;
    }

    .swiper-horizontal > .swiper-pagination .swiper-pagination-bullet-active {
        background-color: #ddd;
    }

    /* s2 */
    .s2 {
        position: relative; /* .product_title에 position: absolute */
    }

    .s2 .product_title {
        position: absolute;
        top: 10vw;
        left: 4vw;
        z-index: 5;
    }

    .s2 .product_title h1 {
        font-size: 5vw;
        color: #fff;
        text-shadow: 0 0 5px rgb(90, 90, 90);
    }

    .s2 .product_title p {
        font-size: 3.5vw;
        line-height: 8vw;
        font-weight: bold;
        color: #fff;
        text-shadow: 0 0 5px rgb(90, 90, 90);
    }

    .s2 .product .swiper-slide {
        position: relative; /* 자식 객체 a 태그의 위치 설정 시 기준이 됨 */
        height: 70vh;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .s2 .product .p1 {
        background-image: url(../img/20.jpg);
    }

    .s2 .product .p2 {
        background-image: url(../img/25.jpg);
    }

    .s2 .product .p3 {
        background-image: url(../img/14.jpg);
    }

    .s2 .product .p4 {
        background-image: url(../img/7.jpg);
    }

    .s2 .product .p5 {
        background-image: url(../img/29.jpg);
    }

    .s2 .product .p6 {
        background-image: url(../img/18.jpg);
    }

    .s2 .swiper-button-next {
        left: 28%;
        top: auto;
        bottom: 0;
        background-color: #fff;
        padding: 0.8vw;
        opacity: 1;
        z-index: 7;
    }

    .s2 .swiper-button-next.swiper-button-disabled {
        opacity: 1;
    }

    .s2 .swiper-button-next:after {
        font-size: 3vw;
        color: #212121;
    }

    .s2 .swiper-button-prev {
        left: 0;
        top: auto;
        bottom: 0;
        background-color: #fff;
        padding: 0.8vw;
        opacity: 1;
        z-index: 7;
    }

    .s2 .swiper-button-prev.swiper-button-disabled {
        opacity: 1;
    }

    .s2 .swiper-button-prev:after {
        font-size: 3vw;
        color: #212121;
    }

    .s2 .swiper-horizontal>.swiper-pagination {
        width: 30%;
        height: 5.2vw;
        background-color: #fff;
        padding: 2.2vw;
        padding-bottom:3.4vw;
        top: auto;
        bottom: 0;
        left: 0;
        z-index: 6;
    }

    .s2 .swiper-horizontal > .swiper-pagination span {
        width: 6px;
        height: 6px;
        background-color: #999;
    }

    .s2 .swiper-horizontal > .swiper-pagination .swiper-pagination-bullet-active {
        background-color: #212121;
    }

    /* 슬라이드 안의 a 태그 */
    .s2 .swiper-slide a {
        border-radius: 20px;
        border: 1px solid #eb9494;
        font-size: 3vw;
        padding: 0.5vw;
        color: #eb9494;
        position: absolute;
        bottom: 3vw;
        right: 1vw;
        transition: all 0.5;
    }

    .s2 .swiper-slide a:hover {
        background-color: #eb9494;
        color: #212121;
    }

    .center {
        width: 98%; /* 태블릿 버전에소는 장치의 가로 길이와 center 길이 같게 */
        margin: 0 auto;
    }

    .s3 {
        padding: 8vw 0;
    }

    .s3 h1 {
        font-size: 5vw;
        text-align: center;
        margin-top: 5vw;
    }

    .s3 .new {
        width: 100%; /* 최대 : 1440 px (부모 크기) */
        margin-top: 5vw;
    }

    .s3 .new > div {
        width: 100%;
        float: left;
    }

    .s3 .new .new_list ul {
        display: flex;
        flex-flow: column nowrap; /* 열 기준 정렬, 줄바꿈 금지 */
        justify-content: center;
        align-items: center; /* 가운데 정렬 */
    }

    .s3 .new .new_list ul li {
        width: 90vw;
        height: 80vw;
        border: 1px solid #ddd;
        border-radius: 10px;
        overflow: hidden;
        position: relative; /* 자식객체 .new_txt에 position: absolute */
        margin-top: 3vw;
    }

    .s3 .new .new_list ul li .new_img {
        width: 100%; /* li의 가로 크기만큼 */
        height: 80vw;
    }

    .s3 .new .new_list ul li .new_img .new_img2 {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 60vw;
        transition: all 0.5s;
    }

    .s3 .new .new_list ul li .n1 {
        background-image: url(../img/5.jpg);
    }

    .s3 .new .new_list ul li .n2 {
        background-image: url(../img/21.jpg);
    }

    .s3 .new .new_list ul li .n3 {
        background-image: url(../img/6.jpg);
    }

    .s3 .new .new_list ul li:hover .new_img2 {
        transform: scale(1.1,1.1);
    }

    .s3 .new .new_list ul li .new_txt {
        width: 100%;
        height: 10vw;
        bottom: 18.5vw;
        position: absolute; /* new_img 영역과 겹침 */
        box-sizing: border-box;
        padding: 3vw 1vw;
        transition: all 0.5s;
        background-color: #fff;
        z-index: 9;
    }

    .s3 .new .new_list ul li .new_txt h3 {
        font-size: 4.6vw;
    }

    .s3 .new .new_list ul li .new_txt span {
        font-size: 3.4vw;
        color: #999;
        line-height: 7vw;
        text-decoration: underline;
        font-weight: bold;
    }
    .s3 .new .new_list ul li .new_txt p {
        font-size: 3vw;
        color: #999;
    }

    /* .new_list의 li에 마우스 오버했을 때 글자 올라옴 */
    .s3 .new .new_list ul li:hover .new_txt {
        bottom: 3.5vw;
    }

    /* .new_list의 li에 마우스 오버했을 때 그림자 생김 */
    .s3 .new .new_list ul li:hover {
        box-shadow: 0 10px 15px #ccc;
    }

    .s3 .new .new_btn {
        margin-top: 2vw
    }

    .s3 .new .new_btn a {
        padding: 1vw 1.4vw;
        border-radius: 30px;
        border: 1px solid #212121;
        margin: 0 auto;
        width: 30vw;
        text-align: center;
        transition: all 0.3s;
        letter-spacing: -1px;
    }

    .s3 .new .new_btn a:hover {
        background-color: #212121;
        color: #fff;
    }

    .s4 .center {
        width: 98%;
        display: flex;
        justify-content: center;
        flex-flow: row wrap; /* 줄바꿈 허용*/
    }

    .s4 .center > div {
        width: 90vw;
        height: 15vw;
        border-radius: 15px;
        box-sizing: border-box;
        padding: 3vw;
        display: flex;
        justify-content: space-between;
        margin: 1vw;
    }

    .s4 .center > div h3 {
        font-size: 3.6vw;
    }

    .s4 .center > div p {
        line-height: 6vw;
        font-size: 2.6vw;
    }

    .s4 .center > div a {
        font-size: 2.6vw;
        border-radius: 30px;
        background-color: #212121;
        color: #fff;
        margin-top: 1vw;
        padding: 1.6vw 3vw;
        transition: all 0.2s;
    }

    .s4 .center > div a:hover {
        background-color: #eb9494;
        color: #fff;
    }

    .s4 .center .online {
        background-color: #e9caca;
    }

    .s4 .center .info {
        background-color: #e9caca;
    }

    /* footer */
    footer {
        background-color: #f8f8f8;
        margin-top: 5vw;
    }

    footer .center {
        width: 98%;
        display: flex;
        justify-content: space-between;
        padding: 5vw 10vw;
        flex-flow: no wrap; /* 줄바꿈 허용 */
        box-sizing: border-box;
    }

    footer .footer_left {
        text-align: center;
    }

    footer .footer_left img {
        width: 28vw;
        margin-bottom: 2vw;
    }

    footer .footer_left address {
        font-style: normal;
        font-size: 3vw;
        color: #555;
    }

    footer .footer_left p {
        font-size: 2.5vw;
        color: #555;
        margin-top: 2vw;
    }
    
    footer .footer_right {
        width: 100%;
        text-align: center;
    }

    footer .footer_right a {
        font-size: 2.5vw;
        background-color: #ccc;
        color: #fff;
        padding: 2vw 4vw;
        border-radius: 30px;
        margin: 0 auto;
        margin-top: 7vw;
        display: inline-block;
    }

    footer .footer_right a:hover {
        background-color: #999;
    }

    /* 위로 화살표 */
    .fa-arrow-up {
        position: fixed;
        bottom: 2vw;
        right: 2vw;
        font-size: 5vw;
        background-color: #ddd;
        padding: 3vw;
        border-radius: 100%;
        cursor: pointer;
        z-index: 1;
        transition: all 0.3s;
    }

    .fa-arrow-up:hover {
        background-color: #212121;
        color: #fff;
    }
}

/* 태블릿 */
@media screen and (min-width: 768px) {
    header {
        width: 100vw;
        height: 8vw ;
        position: fixed; /* 고정 위치 */
        top: 0;
        left: 0;
        z-index: 300;
    }

    .header_wrap {
        width: 100%;
        display: flex;
        flex-flow: row nowrap; /* 행 기준 정렬, 줄 바꿈 금지 */
        justify-content: space-between; /* 양쪽 끝으로 이동 */
        position: fixed; /* 고정 위치 */
        top: 0;
        left: 0;
        z-index: 100;
        transition: all 0.5s;
    }

    header.active {
        background-color: #fff;
    }

    header .logo {
        width: 17%;
        margin-top: 2px;
        margin-left: 3vw;
    }

    header nav {
        width: 60vw;
        margin-top: 25px;
        display: none; /* pc 버전 내비게이션 안 보임 */
        /* z-index: 102; 서브 보다 앞에 배치 */
    }

    header #navi nav {
        display: block; /* 태블릿, 모바일 버전 내비게이션 보임 */
    }

    header #navi {
        position: absolute;
        z-index: 300; /* 항상 맨 앞 */
        top: 0;
        right: -100vw;
        background-color: #fff;
        box-sizing: border-box; /* padding 써도 가로, 세로 길이가 늘어나지 않게 방지 */
        padding: 2vw;
        width: 100vw;
        height: 100vh;
    }

    /* 태블릿, 모바일 버전 내비게이션 메인 메뉴 */
    header #navi nav {
        width: 100%;
        float: left;
        margin-top: 0;
    }

    header #navi nav ul {
        display: flex;
        flex-flow: column nowrap; /* 열 기준으로 세로 정렬, 줄바꿈 금지 */
    }

    header #navi nav ul li a {
        font-size: 2.2vw;
        padding: 2vw;
        /* text-align: left; 왼쪽으로 정렬하고 싶을 때 */ 
        border-top: 1px solid transparent;
        border-bottom: 1px solid #ccc;
        font-weight: bold;
        color: #212121;
    }

    header #navi nav ul li a.active {
        border-top: 1px solid #eb9494;
        border-bottom: 1px solid #eb9494;
        color: #eb9494;
    }

    /* 태블릿 모바일 버전 내비게이션 서브 메뉴 */
    /* header #navi nav .sub {
        padding: 2vw;
        display: none;
    } */

    /* header #navi nav .sub a {
        border-top: 1px solid transparent;
        font-size: 2vw;
        font-weight: normal;
        margin-left: 2vw;
    } */


    /* 오른쪽 화살표 */
    header #navi .navi_arrow {
        width: 3vw;
        float: right;
        margin-right: 3vw;
    }

    header #navi .navi_arrow a {
        padding: 2vw;
    }

    header #navi .navi_arrow a .fa-arrow-right {
        color: #666;
        font-size: 5vw;
    }

    header .menu_btn {
        display: block; /* 태블릿, 모바일 버전 햄버거 메뉴 보임 */
        width: 4.2%;
        margin-top: 2.5vw;
        margin-right: 4vw;
    }

    section.s1 {
        height: 100vh; /* 장치의 세로 크키의 100% */
    }

    /* sns */
    header .sns {
        width: 7vw; /* vw: 장치의 가로 크키의 7% (장치 - 컴퓨터 모니터) */
        margin-top: 1.6vw; /* 1.6%% */
        display: none; /* 태블릿 버전 sns 아이콘 안 보이게 */
    }

    header .sns ul {
        display: flex; /* 자식 객체 li 가로로 나열 */
        justify-content: space-between; /* 가로 간격 동일하게 */
    }

    header .sns ul li {
        width: 1.4vw; /* 1.4% */
    }

    header .sns ul li.youtube {
    margin-top: 0.2vw;
    }

    /* s1, 비주얼 슬라이드 (visual slide) */
    .s1 {
        position: relative; /* visual_txt에 position: absolute */
    }

    .s1 .visual {
        width: 100%;
        height: 100vh;
    }

    .s1 .visual .swiper-slide {
        height: 100vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .s1 .visual .v1 {
        background-image: url(../img/9.jpg);
    }

    .s1 .visual .v2 {
        background-image: url(../img/4.jpg);
    }

    .s1 .visual .v3 {
        background-image: url(../img/12.jpg);
    }

    .s1 .visual_txt {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        color: #fff;
        text-align: center;
        z-index: 2;
    }

    .s1 .visual_txt h1 {
        font-size: 5vw;
        text-shadow: 0 0 5px rgb(90, 90, 90);
    }

    .s1 .visual_txt p {
        font-weight: bold;
        font-size: 2vw;
        text-shadow: 0 0 5px rgb(90, 90, 90);
        line-height: 6vw;
    }

    .s1 .visual_txt a {
        color: #fff;
        font-size: 0.6vw;
        border-radius: 20px;
        border: 1px solid #fff;
        padding: 0.5vw;
        font-weight: bold;
        width: 20vw;
        margin: 0 auto;
        margin-top: 1vw;
        transition: all 0.3s;
    }

    .s1 .visual_txt a:hover {
        background-color: #eaeaea;
        color: #3a3a3a;
    }

    .s1 .visual_txt a span {
        margin-left: 15px;
    }

    /* swiper pagination */
    .swiper-horizontal>.swiper-pagination {
        bottom: 38vh;
    }

    .swiper-horizontal>.swiper-pagination span {
        width: 12px;
        height: 12px;
        background-color: transparent;
        border: 1px solid #ddd;
        opacity: 1;
    }

    .swiper-horizontal > .swiper-pagination .swiper-pagination-bullet-active {
        background-color: #ddd;
    }

    /* s2 */
    .s2 {
        position: relative; /* .product_title에 position: absolute */
    }

    .s2 .product_title {
        position: absolute;
        top: 10vw;
        left: 4vw;
        z-index: 5;
    }

    .s2 .product_title h1 {
        font-size: 3vw;
        color: #fff;
        text-shadow: 0 0 5px rgb(90, 90, 90);
    }

    .s2 .product_title p {
        font-size: 1.4vw;
        line-height: 3vw;
        font-weight: bold;
        color: #fff;
        text-shadow: 0 0 5px rgb(90, 90, 90);
    }

    .s2 .product .swiper-slide {
        position: relative; /* 자식 객체 a 태그의 위치 설정 시 기준이 됨 */
        height: 100vh;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .s2 .product .p1 {
        background-image: url(../img/20.jpg);
    }

    .s2 .product .p2 {
        background-image: url(../img/25.jpg);
    }

    .s2 .product .p3 {
        background-image: url(../img/14.jpg);
    }

    .s2 .product .p4 {
        background-image: url(../img/7.jpg);
    }

    .s2 .product .p5 {
        background-image: url(../img/29.jpg);
    }

    .s2 .product .p6 {
        background-image: url(../img/18.jpg);
    }

    .s2 .swiper-button-next {
        left: 15%;
        top: auto;
        bottom: 0;
        background-color: #fff;
        padding: 0.8vw;
        opacity: 1;
        z-index: 7;
    }

    .s2 .swiper-button-next.swiper-button-disabled {
        opacity: 1;
    }

    .s2 .swiper-button-next:after {
        font-size: 3vw;
        color: #212121;
    }

    .s2 .swiper-button-prev {
        left: 0;
        top: auto;
        bottom: 0;
        background-color: #fff;
        padding: 0.8vw;
        opacity: 1;
        z-index: 7;
    }

    .s2 .swiper-button-prev.swiper-button-disabled {
        opacity: 1;
    }

    .s2 .swiper-button-prev:after {
        font-size: 3vw;
        color: #212121;
    }

    .s2 .swiper-horizontal>.swiper-pagination {
        background-color: #fff;
        padding: 2vw;
        padding-bottom: 2.6vw;
        top: auto;
        bottom: 0;
        left: 0;
        width: 16%;
        z-index: 6;
    }

    .s2 .swiper-horizontal > .swiper-pagination span {
        width: 6px;
        height: 6px;
        background-color: #999;
    }

    .s2 .swiper-horizontal > .swiper-pagination .swiper-pagination-bullet-active {
        background-color: #212121;
    }

    /* 슬라이드 안의 a 태그 */
    .s2 .swiper-slide a {
        border-radius: 20px;
        border: 1px solid #eb9494;
        font-size: 0.7vw;
        padding: 0.5vw;
        color: #eb9494;
        position: absolute;
        bottom: 3vw;
        right: 1vw;
        transition: all 0.5;
    }

    .s2 .swiper-slide a:hover {
        background-color: #eb9494;
        color: #212121;
    }

    .center {
        width: 98%; /* 태블릿 버전에소는 장치의 가로 길이와 center 길이 같게 */
        margin: 0 auto;
    }

    .s3 {
        padding: 8vw 0;
    }

    .s3 h1 {
        font-size: 3vw;
        text-align: left;
    }

    .s3 .new {
        width: 100%; /* 최대 : 1440 px (부모 크기) */
        margin-top: 3vw;
    }

    .s3 .new > div {
        width: 100%;
        float: left;
    }

    .s3 .new .new_list ul {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
    }

    .s3 .new .new_list ul li {
        width: 31.7vw;
        height: 45vw;
        border: 1px solid #ddd;
        border-radius: 10px;
        overflow: hidden;
        position: relative; /* 자식객체 .new_txt에 position: absolute */
    }

    .s3 .new .new_list ul li .new_img {
        width: 100%; /* li의 가로 크기만큼 */
        height: 25vw;
    }

    .s3 .new .new_list ul li .new_img .new_img2 {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 25vw;
        transition: all 0.5s;
    }

    .s3 .new .new_list ul li .n1 {
        background-image: url(../img/5.jpg);
    }

    .s3 .new .new_list ul li .n2 {
        background-image: url(../img/21.jpg);
    }

    .s3 .new .new_list ul li .n3 {
        background-image: url(../img/6.jpg);
    }

    .s3 .new .new_list ul li:hover .new_img2 {
        transform: scale(1.1,1.1);
    }

    .s3 .new .new_list ul li .new_txt {
        width: 100%;
        height: 10vw;
        bottom: 12vw;
        position: absolute; /* new_img 영역과 겹침 */
        box-sizing: border-box;
        padding: 3vw 1vw;
        transition: all 0.5s;
        background-color: #fff;
        z-index: 9;
    }

    .s3 .new .new_list ul li .new_txt span {
        font-size: 1.6vw;
        color: #999;
        line-height: 5vw;
        text-decoration: underline;
        font-weight: bold;
    }
    .s3 .new .new_list ul li .new_txt p {
        font-size: 1.5vw;
        color: #999;
    }

        .s3 .new .new_list ul li .new_txt h3 {
        font-size: 2vw;
    }

    /* .new_list의 li에 마우스 오버했을 때 글자 올라옴 */
    .s3 .new .new_list ul li:hover .new_txt {
        bottom: 3.5vw;
    }

    /* .new_list의 li에 마우스 오버했을 때 그림자 생김 */
    .s3 .new .new_list ul li:hover {
        box-shadow: 0 10px 15px #ccc;
    }

    .s3 .new .new_btn {
        margin-top: 2vw
    }

    .s3 .new .new_btn a {
        padding: 1vw 1.4vw;
        border-radius: 30px;
        border: 1px solid #212121;
        margin: 0 auto;
        width: 22vw;
        text-align: center;
        transition: all 0.3s;
        letter-spacing: -1px;
    }

    .s3 .new .new_btn a:hover {
        background-color: #212121;
        color: #fff;
    }

    .s4 .center {
        width: 98%;
        display: flex;
        justify-content: center;
        flex-flow: row wrap; /* 줄바꿈 허용*/
    }

    .s4 .center > div {
        width: 90vw;
        height: 15vw;
        border-radius: 15px;
        box-sizing: border-box;
        padding: 3vw;
        display: flex;
        justify-content: space-between;
        margin: 1vw;
    }

    .s4 .center > div h3 {
        font-size: 3.6vw;
    }

    .s4 .center > div p {
        line-height: 6vw;
        font-size: 2.6vw;
    }

    .s4 .center > div a {
        font-size: 2.6vw;
        border-radius: 30px;
        background-color: #212121;
        color: #fff;
        margin-top: 1vw;
        padding: 1.6vw 3vw;
        transition: all 0.2s;
    }

    .s4 .center > div a:hover {
        background-color: #eb9494;
        color: #fff;
    }

    .s4 .center .online {
        background-color: #e9caca;
    }

    .s4 .center .info {
        background-color: #e9caca;
    }

    /* footer */
    footer {
        background-color: #f8f8f8;
        margin-top: 5vw;
    }

    footer .center {
        width: 98%;
        display: flex;
        justify-content: space-between;
        padding: 5vw 10vw;
        flex-flow: no wrap; /* 줄바꿈 허용 */
        box-sizing: border-box;
    }

    footer .footer_left {
        text-align: center;
    }

    footer .footer_left img {
        width: 28vw;
        margin-bottom: 2vw;
    }

    footer .footer_left address {
        font-style: normal;
        font-size: 3vw;
        color: #555;
    }

    footer .footer_left p {
        font-size: 2.5vw;
        color: #555;
        margin-top: 2vw;
    }
    
    footer .footer_right {
        width: 100%;
        text-align: center;
    }

    footer .footer_right a {
        font-size: 2.5vw;
        background-color: #ccc;
        color: #fff;
        padding: 2vw 4vw;
        border-radius: 30px;
        margin: 0 auto;
        margin-top: 7vw;
        display: inline-block;
    }

    footer .footer_right a:hover {
        background-color: #999;
    }

    /* 위로 화살표 */
    .fa-arrow-up {
        position: fixed;
        bottom: 2vw;
        right: 2vw;
        font-size: 2vw;
        font-size: 1.4vw;
        background-color: #ddd;
        padding: 1vw;
        border-radius: 100%;
        cursor: pointer;
        z-index: 1;
        transition: all 0.3s;
    }

    .fa-arrow-up:hover {
        background-color: #212121;
        color: #fff;
    }
}

/* pc */
@media screen and (min-width: 1024px) {
    header {
        position: fixed;
        width: 100vw;
        height: 100px;
        top: 0;
        left: 0;
        z-index: 100;
        transition: all 0.5s;
    }

    header .header_wrap {
        width: 100%;
        height: 5vw;
        display: flex;
        flex-flow: row nowrap; /* 행 기준 정렬, 줄 바꿈 금지 */
        justify-content: space-around; /* 일정한 간격 */
        transition: all 0.5s;
    }

    header.active, header .header_wrap.active {
        box-shadow: 0 0 5px #ccc;
        background-color: #fff;
    }

    header .logo {
        width: 8%;
        margin-top: 13px;
    }

    header nav {
        width: 60vw;
        margin-top: 25px;
        display: block; /* pc 버전에서는 메뉴 보이게, 태블릿 버전에서 display: none; 썼음 */
    }

    header nav > ul {
        display: flex;
        justify-content: space-between;
    }

    header nav > ul > li > a {
        color: #212121;
        font-size: 0.8vw;
        font-weight: bold;
        text-align: center;
        padding: 10px 10px 30px; /* 아래 안 쪽 여백: 50px */
    }
    /* 주메뉴에 마우스 오버했을 때 글자색 변경 */
    header .header_wrap.active nav > ul > li:hover > a,
    header.active nav > ul > li:hover > a {
        color: #eb9494;
    }

    /* 주메뉴에 마우스 오버했을 때 밑줄 나옴 */
    header nav > ul > li > a:after {
        content: "";
        display: block;
        width: 0;
        height: 2px;
        background-color: #eb9494;
        margin-top: 3px;
        transition: all 0.5s;
    }

    header nav > ul > li:hover > a:after {
        width: 100%;
    }

    /* header 에 active가 추가되면 메뉴 색 검정색으로 변경  */
    header .header_wrap.active nav > ul > li > a,
    header.active nav > ul > li > a {
        color: #212121;
    }

    header #navi nav {
        display: none; /* 태블릿, 모바일 버전 내비게이션 안 보임 */
    }

    header .menu_btn {
        display: none; /* pc 버전에서는 햄버거 메뉴 안 보임 */
    }

    section.s1 {
        height: 100vh; /* 장치의 세로 크키의 100% */
    }

    /* sns */
    header .sns {
        width: 7vw; /* vw: 장치의 가로 크키의 7% (장치 - 컴퓨터 모니터) */
        margin-top: 1.6vw; /* 1.6%% */
        display: block;
    }

    header .sns ul {
        display: flex; /* 자식 객체 li 가로로 나열 */
        justify-content: space-between; /* 가로 간격 동일하게 */
    }

    header .sns ul li {
        width: 1.4vw; /* 1.4% */
    }

    header .sns ul li.youtube {
    margin-top: 0.2vw;
    }

    /* s1, 비주얼 슬라이드 (visual slide) */
    .s1 {
        position: relative; /* visual_txt에 position: absolute */
    }

    .s1 .visual {
        width: 100%;
        height: 100vh;
    }

    .s1 .visual .swiper-slide {
        height: 100vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .s1 .visual .v1 {
        background-image: url(../img/9.jpg);
    }

    .s1 .visual .v2 {
        background-image: url(../img/4.jpg);
    }

    .s1 .visual .v3 {
        background-image: url(../img/12.jpg);
    }

    .s1 .visual_txt {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        color: #fff;
        text-align: center;
        z-index: 2;
    }

    .s1 .visual_txt h1 {
        font-size: 3vw;
        text-shadow: 0 0 5px rgb(90, 90, 90);
    }

    .s1 .visual_txt p {
        font-weight: bold;
        font-size: 0.8vw;
        text-shadow: 0 0 5px rgb(90, 90, 90);
        line-height: 3vw;
    }

    .s1 .visual_txt a {
        color: #fff;
        font-size: 0.6vw;
        border-radius: 20px;
        border: 1px solid #fff;
        padding: 0.5vw;
        font-weight: bold;
        width: 10vw;
        margin: 0 auto;
        margin-top: 1vw;
        transition: all 0.3s;
    }

    .s1 .visual_txt a:hover {
        background-color: #eaeaea;
        color: #3a3a3a;
    }

    .s1 .visual_txt a span {
        margin-left: 20px;
    }

    /* swiper pagination */
    .swiper-horizontal>.swiper-pagination {
        bottom: 34vh;
    }

    .swiper-horizontal>.swiper-pagination span {
        width: 12px;
        height: 12px;
        background-color: transparent;
        border: 1px solid #ddd;
        opacity: 1;
    }

    .swiper-horizontal > .swiper-pagination .swiper-pagination-bullet-active {
        background-color: #ddd;
    }

    /* s2 */
    .s2 {
        position: relative; /* .product_title에 position: absolute */
    }

    .s2 .product_title {
        position: absolute;
        top: 10vw;
        left: 4vw;
        z-index: 5;
    }

    .s2 .product_title h1 {
        font-size: 2vw;
        color: #fff;
        text-shadow: 0 0 5px rgb(90, 90, 90);
    }

    .s2 .product_title p {
        font-size: 0.9vw;
        line-height: 3vw;
        font-weight: bold;
        color: #fff;
        text-shadow: 0 0 5px rgb(90, 90, 90);
    }

    .s2 .product .swiper-slide {
        position: relative; /* 자식 객체 a 태그의 위치 설정 시 기준이 됨 */
        height: 100vh;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .s2 .product .p1 {
        background-image: url(../img/20.jpg);
    }

    .s2 .product .p2 {
        background-image: url(../img/25.jpg);
    }

    .s2 .product .p3 {
        background-image: url(../img/14.jpg);
    }

    .s2 .product .p4 {
        background-image: url(../img/7.jpg);
    }

    .s2 .product .p5 {
        background-image: url(../img/29.jpg);
    }

    .s2 .product .p6 {
        background-image: url(../img/18.jpg);
    }

    .s2 .swiper-button-next {
        left: 5%;
        top: auto;
        bottom: 0;
        background-color: #fff;
        padding: 0.6vw;
        opacity: 1;
        z-index: 7;
    }

    .s2 .swiper-button-next.swiper-button-disabled {
        opacity: 1;
    }

    .s2 .swiper-button-next:after {
        font-size: 1.4vw;
        color: #212121;
    }

    .s2 .swiper-button-prev {
        left: 0;
        top: auto;
        bottom: 0;
        background-color: #fff;
        padding: 0.6vw;
        opacity: 1;
        z-index: 7;
    }

    .s2 .swiper-button-prev.swiper-button-disabled {
        opacity: 1;
    }

    .s2 .swiper-button-prev:after {
        font-size: 1.4vw;
        color: #212121;
    }

    .s2 .swiper-horizontal>.swiper-pagination {
        background-color: #fff;
        padding: 1.4vw;
        padding-bottom: 1.4vw;
        top: auto;
        bottom: 0;
        left: 0;
        width: 5%;
        z-index: 6;
    }

    .s2 .swiper-horizontal > .swiper-pagination span {
        width: 6px;
        height: 6px;
        background-color: #999;
    }

    .s2 .swiper-horizontal > .swiper-pagination .swiper-pagination-bullet-active {
        background-color: #212121;
    }

    /* 슬라이드 안의 a 태그 */
    .s2 .swiper-slide a {
        border-radius: 20px;
        border: 1px solid #eb9494;
        font-size: 0.7vw;
        padding: 0.5vw;
        color: #eb9494;
        position: absolute;
        bottom: 3vw;
        right: 1vw;
        transition: all 0.5;
    }

    .s2 .swiper-slide a:hover {
        background-color: #eb9494;
        color: #212121;
    }

    .center {
        width: 1440px;
        margin: 0 auto;
    }

    .s3 {
        padding: 8vw 0;
    }

    .s3 h1 {
        font-size: 2vw;
    }

    .s3 .new {
        width: 100%; /* 최대 : 1440 px (부모 크기) */
        margin-top: 3vw;
    }

    .s3 .new > div {
        width: 100%;
        float: left;
    }

    .s3 .new .new_list ul {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
    }

    .s3 .new .new_list ul li {
        width: 24.2vw;
        height: 30vw;
        border: 1px solid #ddd;
        border-radius: 10px;
        overflow: hidden;
        position: relative; /* 자식객체 .new_txt에 position: absolute */
    }

    .s3 .new .new_list ul li .new_img {
        width: 100%; /* li의 가로 크기만큼 */
        height: 20vw;
    }

    .s3 .new .new_list ul li .new_img .new_img2 {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 20vw;
        transition: all 0.5s;
    }

    .s3 .new .new_list ul li .n1 {
        background-image: url(../img/5.jpg);
    }

    .s3 .new .new_list ul li .n2 {
        background-image: url(../img/21.jpg);
    }

    .s3 .new .new_list ul li .n3 {
        background-image: url(../img/6.jpg);
    }

    .s3 .new .new_list ul li:hover .new_img2 {
        transform: scale(1.1,1.1);
    }

    .s3 .new .new_list ul li .new_txt {
        width: 100%;
        height: 10.5vw;
        bottom: -1vw;
        position: absolute; /* new_img 영역과 겹침 */
        box-sizing: border-box;
        padding: 3vw 1vw;
        transition: all 0.5s;
        background-color: #fff;
        z-index: 9;
    }

    .s3 .new .new_list ul li .new_txt h3 {
        font-size: 1.18vw;
    }

    .s3 .new .new_list ul li .new_txt span {
        font-size: 0.7vw;
        color: #999;
        line-height: 5vw;
        text-decoration: underline;
        font-weight: bold;
    }
    .s3 .new .new_list ul li .new_txt p {
        font-size: 0.9vw;
        color: #999;
    }

    /* .new_list의 li에 마우스 오버했을 때 글자 올라옴 */
    .s3 .new .new_list ul li:hover .new_txt {
        bottom: 3.5vw;
    }

    /* .new_list의 li에 마우스 오버했을 때 그림자 생김 */
    .s3 .new .new_list ul li:hover {
        box-shadow: 0 10px 15px #ccc;
    }

    .s3 .new .new_btn {
        margin-top: 2vw
    }

    .s3 .new .new_btn a {
        padding: 1vw 1vw;
        border-radius: 30px;
        border: 1px solid #212121;
        margin: 0 auto;
        width: 10vw;
        text-align: center;
        transition: all 0.3s;
        letter-spacing: -1px;
    }

    .s3 .new .new_btn a:hover {
        background-color: #212121;
        color: #fff;
    }

    .s4 .center {
        width: 1440px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
    }

    .s4 .center > div {
        width: 37vw;
        height: 6vw;
        border-radius: 15px;
        box-sizing: border-box;
        padding: 2vw;
        display: flex;
        justify-content: space-between;
    }

    .s4 .center > div h3 {
        font-size: 0.8vw;
    }

    .s4 .center > div p {
        line-height: 2vw;
        font-size: 0.6vw;
    }

    .s4 .center > div a {
        font-size: 0.6vw;
        border-radius: 20px;
        background-color: #212121;
        color: #fff;
        padding: 0.5vw 1vw;
        margin-top: 0.5vw;
        transition: all 0.2s;
    }

    .s4 .center > div a:hover {
        background-color: #eb9494;
        color: #fff;
    }

    .s4 .center .online {
        background-color: #e9caca;
    }

    .s4 .center .info {
        background-color: #e9caca;
    }

    /* footer */
    footer {
        background-color: #f8f8f8;
        margin-top: 5vw;
    }

    footer .center {
        width: 1440px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        padding: 2.8vw;
    }

    footer .footer_left {
        text-align: left;
    }

    footer .footer_left img {
        width: 10vw;
        margin-bottom: 2vw;
    }

    footer .footer_left address {
        font-style: normal;
        font-size: 0.8vw;
        color: #555;
    }

    footer .footer_left p {
        font-size: 0.8vw;
        color: #555;
        margin-top: 0.5vw;
    }

    footer .footer_right {
        width: auto;
    }

    footer .footer_right a {
        font-size: 0.9vw;
        white-space: nowrap; 
        background-color: #ccc;
        color: #fff;
        padding: 0.5vw 0.8vw;
        border-radius: 20px;
        margin-top: 1vw;
        margin-right: 1vw;
        transition: all 0.2s;
    }

    footer .footer_right a:hover {
        background-color: #999;
    }

    /* 위로 화살표 */
    .fa-arrow-up {
        position: fixed;
        bottom: 2vw;
        right: 2vw;
        font-size: 2vw;
        font-size: 1.4vw;
        background-color: #ddd;
        padding: 1vw;
        border-radius: 100%;
        cursor: pointer;
        z-index: 1;
        transition: all 0.3s;
    }

    .fa-arrow-up:hover {
        background-color: #212121;
        color: #fff;
    }
}